* {
    box-sizing: border-box;
  }


form {
    text-align: center;
  }

fieldset {
  display: flex;
  flex-direction: column;
  width: 70%;
  padding: 12px;
  border: 2px solid rgb(64, 75, 175);
  border-radius: 4px;
  font-size: 30px;
  font-weight: bolder;
  text-align: center;
  align-items: center;
}

input {
    width: 50%;
    margin: 5px;
    padding: 12px;
    border: 1px solid rgb(177, 27, 27);
    border-radius: 4px;
  }

  button {
    margin: 20px;
    color: #efeff3;
    font-weight: bolder;
    background-color: #6586cc;
    width: 25%;
    border: 2px;
    border-radius: 5px;
  }

  div {
    text-align: center;
    width: 70%;
  }

  table {
    border-collapse: collapse;
    width: 100%;
  }
  
  th, td {
    text-align: center;
    padding: 8px;
  }
  
  tr:nth-child(even){background-color: #ebd7d7}
  
  th {
    background-color: #4c67a0;
    color: white;
  }